* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo,
.menu,
.button,
.menu-item,
.image,
.image2,
.main,
.page2 {
  display: inline-block;
}
body {
  font-family: Inter, sans-serif;
  max-width: 100%;
}

.logo,
.button {
  width: 14%;
}
.menu {
  width: 70%;
  text-align: center;
}
.header {
  padding: 37px 120px 120px 35px;
  margin-left: 120px;
}
.button {
  font-family: inherit;
  background: #0e1734;
  border: none;
  padding: 14px 15px;
  color: white;
  border-radius: 5px;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  margin: 5px;
}
.menu-item {
  margin-right: 20px;
}
.menu-item:last-child {
  margin-right: 0;
}

h1 {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
  margin-top: 215px;
}

p {
  font-family: inherit;
  font-size: 18px;
  line-height: 27px;
  color: #848fac;
  width: 485px;
  height: 81px;
  margin-top: 24px;
}

.main {
  top: 215px;
  width: 587px;
  height: 144px;
  left: 121px;
  position: absolute;
}

.main > button {
  border-radius: 4px;
  font-family: inherit;
  border: none;
  padding: 16px 32px;
  margin: 46px 0px;
  display: inline-block;
  width: 156px;
  height: 51px;
  top: 496px;
}
.image {
  float: left;
  position: absolute;
  width: 588px;
  height: 669px;
  right: inherit;
  top: 80px;
  margin-right: 24px;
}
.img {
  margin-top: 80px;
  position: absolute;
  width: 180px;
  height: 588px;
  border-radius: 4px;
  margin: 80px 528px 177px 732px;
  margin-left: 732px;
}
.img2 {
  margin-top: 161px;
  position: absolute;
  width: 180px;
  height: 588px;
  margin-left: 936px;
  border-radius: 4px;
}
.img3 {
  margin-top: 80px;
  position: absolute;
  width: 180px;
  height: 588px;
  margin-left: 1140px;
  border-radius: 4px;
}
.spasite {
  max-width: 100%;
}
.p1 {
  color: #848fac;
  font-family: inherit;
  font-size: 18px;
  width: 584px;
  height: 81px;
  margin-left: 630px;
  margin-top: 24px;
}
.p2 {
  color: #848fac;
  font-size: 18px;
  font-family: inherit;
  width: 584px;
  height: 54px;
  margin-left: 630px;
  margin-top: 16px;
}
.page2 h1 {
  font-size: 36px;
  font-family: inherit;
  margin-top: 1030px;
  width: 690px;
  height: 108px;
  margin-left: 630px;
}
.image2 {
  border-radius: 4px;
  width: 384px;
  height: 576px;
  margin-left: 120px;
  margin-top: -394px;
}
.page2 button {
  font-family: inherit;
  padding: 16px 32px;
  background: #0e1734;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-left: 630px;
  margin-top: 32px;
}
